In [128]:
import numpy as np
import pandas as pd
import math as math

In [129]:
info_gv = pd.read_csv("/Users/juliusguenthoer/Documents/GitHub/MakeIT/NSW/master_dataset_PublicSchool.csv")

list_of_int = ["School_code","School_name","latest_year_enrolment_FTE","Level_of_schooling","AECG_region","ASGS_remoteness","Latitude","Longitude"]

In [ ]:
new_info_gv = info_gv[list_of_int]

In [ ]:
new_info_gv

In [ ]:
teacher_student_ratio = pd.read_csv("/Users/juliusguenthoer/Documents/GitHub/MakeIT/NSW/2006-2016-student-to-teacher-ratio.csv")

In [ ]:
teacher_student_ratio

In [ ]:
d={"Level_of_schooling":["Primary School","Secondary School","Central/Community School","Schools for Specific Purposes","Environmental Education Centre",'Infants School','Other School'],"Ratio":[16.02857142857143,12.450000000000001,14.35,14.35,14.35,16.02857142857143,14.35]}

In [ ]:
ratio = pd.DataFrame.from_dict(d)

In [ ]:
ratio

In [ ]:
new_info_gv = pd.merge(new_info_gv,ratio, how = "inner", on = "Level_of_schooling")

In [ ]:
new_info_gv["Level_of_schooling"][60]

In [131]:
pd.set_option("display.max_columns",1000)

In [ ]:
np.unique(new_info_gv["Level_of_schooling"])

In [ ]:
new_info_gv

In [136]:
len(new_info_gv[new_info_gv["Level_of_schooling"] == 'Primary School'])

1592

In [137]:
len(new_info_gv[new_info_gv["Level_of_schooling"] == 'Secondary School'])

402

In [141]:
1592/1994

0.79839518555667

In [140]:
402/1994

0.20160481444332998

In [ ]:
new_info_gv["teacher_demand"] = new_info_gv["latest_year_enrolment_FTE"]/new_info_gv["Ratio"]

In [ ]:
new_info_gv["teacher_demand"] = new_info_gv["teacher_demand"].fillna(new_info_gv["teacher_demand"].mean())

In [ ]:
sum(round(new_info_gv["teacher_demand"]+0.4))

In [ ]:
new_info_gv

In [ ]:
from numpy.random import choice

In [211]:
tea_numb = np.arange(1,50001,1)

In [212]:
tea_numb = map(str, tea_numb)

In [213]:
tea_pre = np.repeat("T",[50000])

In [214]:
tea_pre

array(['T', 'T', 'T', ..., 'T', 'T', 'T'], dtype='<U1')

In [215]:
genders= ["M","F"]

In [216]:
genders_draw = choice(genders,50000,p = [0.276,0.724])

In [217]:
subjects = ["Reading","Math","Science","Social Studies","Student Life","Writing","Sp Ed","Technology","Data Team","ILT"]

In [218]:
subjects_draw = choice(subjects,50000,p = [1/10,1/10,1/10,1/10,1/10,1/10,1/10,1/10,1/10,1/10])

In [221]:
teacher_dict = {"T": tea_pre,"Numb":tea_numb,"Genders": genders_draw,"Subject": subjects_draw,"Type_preference":Type_preference,"Experience_level":experience_draw}

In [222]:
teachers = pd.DataFrame.from_dict(teacher_dict)

In [223]:
teachers["Teacher_ID"] = teachers["T"] + teachers["Numb"]
del(teachers["T"])
del(teachers["Numb"])

In [224]:
school_type = ["Primary School","Secondary School"]

In [225]:
Type_preference = choice(school_type,50000,p=[0.79839518555667,0.20160481444332998])

In [226]:
employed = pd.read_csv("/Users/juliusguenthoer/Documents/GitHub/MakeIT/NSW/2016-years-of-employment.csv")

In [227]:
experience = [5,4,3,2,1]

In [228]:
experience_draw = choice(experience,50000,p =[0.2863,0.0916,0.1573,0.1648,0.3])

In [232]:
teachers = teachers[["Teacher_ID", "Genders", "Subject","Type_preference","Experience_level"]]

In [233]:
teachers

      Teacher_ID Genders         Subject   Type_preference  Experience_level
0             T1       F            Math    Primary School                 4
1             T2       F      Technology    Primary School                 5
2             T3       M       Data Team    Primary School                 2
3             T4       M  Social Studies    Primary School                 1
4             T5       F      Technology  Secondary School                 3
...          ...     ...             ...               ...               ...
49995     T49996       F       Data Team    Primary School                 3
49996     T49997       F       Data Team  Secondary School                 3
49997     T49998       F            Math    Primary School                 1
49998     T49999       F    Student Life    Primary School                 2
49999     T50000       F      Technology  Secondary School                 5

[50000 rows x 5 columns]

In [ ]:
draw = choice(list_of_candidates, number_of_items_to_pick,
              p=probability_distribution)

In [209]:
0.2863+0.0916+0.1573+0.1648+0.3001

1.0001