In [269]:
import numpy as np
import pandas as pd
import math as math

In [270]:
info_gv = pd.read_csv("/Users/juliusguenthoer/Documents/GitHub/MakeIT/NSW/master_dataset_PublicSchool.csv")

list_of_int = ["School_code","School_name","latest_year_enrolment_FTE","Level_of_schooling","AECG_region","ASGS_remoteness","Latitude","Longitude"]

In [271]:
new_info_gv = info_gv[list_of_int]

In [272]:
new_info_gv

,School_code,School_name,latest_year_enrolment_FTE,Level_of_schooling,AECG_region,ASGS_remoteness,Latitude,Longitude
0,1001,Abbotsford Public School,531.0,Primary School,Metropolitan East,Major Cities of Australia,-33.852728,151.131206
1,1002,Aberdeen Public School,191.0,Primary School,Hunter,Inner Regional Australia,-32.166098,150.888095
2,1003,Abermain Public School,270.0,Primary School,Hunter,Major Cities of Australia,-32.808920,151.426499
3,1007,Adaminaby Public School,19.0,Primary School,Lower South Coast,Outer Regional Australia,-35.993292,148.776721
4,1008,Adamstown Public School,317.0,Primary School,Hunter,Major Cities of Australia,-32.932213,151.730971
...,...,...,...,...,...,...,...,...
2213,8913,Inner Sydney High School,147.0,Secondary School,NaN,Major Cities of Australia,-33.889372,151.206030
2214,8914,Centre of Excellence in Agricultural Education...,NaN,Secondary School,NaN,Major Cities of Australia,-33.614026,150.753568
2215,8915,Armidale Secondary College,1149.2,Secondary School,North Western 2,Inner Regional Australia,-30.519371,151.650348
2216,8916,Oran Park High School,279.0,Secondary School,NaN,Major Cities of Australia,-33.998988,150.736305
2217,8917,Murrumbidgee Regional High School,1215.8,Secondary School,Riverina 1,Outer Regional Australia,-34.282315,146.070718

In [273]:
teacher_student_ratio = pd.read_csv("/Users/juliusguenthoer/Documents/GitHub/MakeIT/NSW/2006-2016-student-to-teacher-ratio.csv")

In [274]:
teacher_student_ratio

,year,overall_student_to_teacher_ratio,primary_student_to_teacher_ratio,secondary_student_to_teacher_ratio
0,2003,15.0,17.3,12.6
1,2004,14.8,17.0,12.5
2,2005,14.6,16.7,12.4
3,2006,14.4,16.2,12.4
4,2007,14.4,16.2,12.5
5,2008,14.3,15.9,12.4
6,2009,14.2,15.9,12.4
7,2010,14.2,15.7,12.5
8,2011,14.1,15.5,12.5
9,2012,14.1,15.5,12.4
10,2013,14.0,15.5,12.3
11,2014,14.2,15.6,12.4
12,2015,14.3,15.8,12.5
13,2016,14.3,15.6,12.5

In [275]:
d={"Level_of_schooling":["Primary School","Secondary School","Central/Community School","Schools for Specific Purposes","Environmental Education Centre",'Infants School','Other School'],"Ratio":[16.02857142857143,12.450000000000001,14.35,14.35,14.35,16.02857142857143,14.35]}

In [276]:
ratio = pd.DataFrame.from_dict(d)

In [277]:
ratio

               Level_of_schooling      Ratio
0                  Primary School  16.028571
1                Secondary School  12.450000
2        Central/Community School  14.350000
3   Schools for Specific Purposes  14.350000
4  Environmental Education Centre  14.350000
5                  Infants School  16.028571
6                    Other School  14.350000

In [278]:
new_info_gv = pd.merge(new_info_gv,ratio, how = "inner", on = "Level_of_schooling")

In [279]:
new_info_gv["Level_of_schooling"][60]

'Primary School'

In [280]:
pd.set_option("display.max_columns",1000)

In [281]:
np.unique(new_info_gv["Level_of_schooling"])

array(['Central/Community School', 'Environmental Education Centre',
       'Infants School', 'Other School', 'Primary School',
       'Schools for Specific Purposes', 'Secondary School'], dtype=object)

In [282]:
new_info_gv

,School_code,School_name,latest_year_enrolment_FTE,Level_of_schooling,AECG_region,ASGS_remoteness,Latitude,Longitude,Ratio
0,1001,Abbotsford Public School,531.0,Primary School,Metropolitan East,Major Cities of Australia,-33.852728,151.131206,16.028571
1,1002,Aberdeen Public School,191.0,Primary School,Hunter,Inner Regional Australia,-32.166098,150.888095,16.028571
2,1003,Abermain Public School,270.0,Primary School,Hunter,Major Cities of Australia,-32.808920,151.426499,16.028571
3,1007,Adaminaby Public School,19.0,Primary School,Lower South Coast,Outer Regional Australia,-35.993292,148.776721,16.028571
4,1008,Adamstown Public School,317.0,Primary School,Hunter,Major Cities of Australia,-32.932213,151.730971,16.028571
...,...,...,...,...,...,...,...,...,...
2213,8913,Inner Sydney High School,147.0,Secondary School,NaN,Major Cities of Australia,-33.889372,151.206030,12.450000
2214,8914,Centre of Excellence in Agricultural Education...,NaN,Secondary School,NaN,Major Cities of Australia,-33.614026,150.753568,12.450000
2215,8915,Armidale Secondary College,1149.2,Secondary School,North Western 2,Inner Regional Australia,-30.519371,151.650348,12.450000
2216,8916,Oran Park High School,279.0,Secondary School,NaN,Major Cities of Australia,-33.998988,150.736305,12.450000
2217,8917,Murrumbidgee Regional High School,1215.8,Secondary School,Riverina 1,Outer Regional Australia,-34.282315,146.070718,12.450000

In [283]:
len(new_info_gv[new_info_gv["Level_of_schooling"] == 'Primary School'])

1592

In [284]:
len(new_info_gv[new_info_gv["Level_of_schooling"] == 'Secondary School'])

402

In [285]:
1592/1994

0.79839518555667

In [286]:
402/1994

0.20160481444332998

In [287]:
new_info_gv["teacher_demand"] = new_info_gv["latest_year_enrolment_FTE"]/new_info_gv["Ratio"]

In [288]:
new_info_gv["teacher_demand"] = new_info_gv["teacher_demand"].fillna(new_info_gv["teacher_demand"].mean())

In [289]:
sum(round(new_info_gv["teacher_demand"]+0.4))

58242.0

In [292]:
new_info_gv["teacher_demand"] = round(new_info_gv["teacher_demand"]+0.4)

In [294]:
new_info_gv

,School_code,School_name,latest_year_enrolment_FTE,Level_of_schooling,AECG_region,ASGS_remoteness,Latitude,Longitude,Ratio,teacher_demand
0,1001,Abbotsford Public School,531.0,Primary School,Metropolitan East,Major Cities of Australia,-33.852728,151.131206,16.028571,34.0
1,1002,Aberdeen Public School,191.0,Primary School,Hunter,Inner Regional Australia,-32.166098,150.888095,16.028571,12.0
2,1003,Abermain Public School,270.0,Primary School,Hunter,Major Cities of Australia,-32.808920,151.426499,16.028571,17.0
3,1007,Adaminaby Public School,19.0,Primary School,Lower South Coast,Outer Regional Australia,-35.993292,148.776721,16.028571,2.0
4,1008,Adamstown Public School,317.0,Primary School,Hunter,Major Cities of Australia,-32.932213,151.730971,16.028571,20.0
...,...,...,...,...,...,...,...,...,...,...
2213,8913,Inner Sydney High School,147.0,Secondary School,NaN,Major Cities of Australia,-33.889372,151.206030,12.450000,12.0
2214,8914,Centre of Excellence in Agricultural Education...,NaN,Secondary School,NaN,Major Cities of Australia,-33.614026,150.753568,12.450000,26.0
2215,8915,Armidale Secondary College,1149.2,Secondary School,North Western 2,Inner Regional Australia,-30.519371,151.650348,12.450000,93.0
2216,8916,Oran Park High School,279.0,Secondary School,NaN,Major Cities of Australia,-33.998988,150.736305,12.450000,23.0
2217,8917,Murrumbidgee Regional High School,1215.8,Secondary School,Riverina 1,Outer Regional Australia,-34.282315,146.070718,12.450000,98.0

In [295]:
new_info_gv.to_csv("/Users/juliusguenthoer/Documents/GitHub/MakeIT/NSW/new_info_gv.csv")

In [ ]:
from numpy.random import choice

In [249]:
tea_numb = np.arange(1,50001,1)

In [250]:
tea_numb = map(str, tea_numb)

In [251]:
tea_pre = np.repeat("T",[50000])

In [252]:
tea_pre

array(['T', 'T', 'T', ..., 'T', 'T', 'T'], dtype='<U1')

In [253]:
genders= ["M","F"]

In [254]:
genders_draw = choice(genders,50000,p = [0.276,0.724])

In [255]:
subjects = ["Reading","Math","Science","Social Studies","Student Life","Writing","Sp Ed","Technology","Data Team","ILT"]

In [256]:
subjects_draw = choice(subjects,50000,p = [1/10,1/10,1/10,1/10,1/10,1/10,1/10,1/10,1/10,1/10])

In [257]:
teacher_dict = {"T": tea_pre,"Numb":tea_numb,"Genders": genders_draw,"Subject": subjects_draw,"Type_preference":Type_preference,"Experience_level":experience_draw}

In [258]:
teachers = pd.DataFrame.from_dict(teacher_dict)

In [259]:
teachers["Teacher_ID"] = teachers["T"] + teachers["Numb"]
del(teachers["T"])
del(teachers["Numb"])

In [260]:
school_type = ["Primary School","Secondary School"]

In [261]:
Type_preference = choice(school_type,50000,p=[0.79839518555667,0.20160481444332998])

In [262]:
employed = pd.read_csv("/Users/juliusguenthoer/Documents/GitHub/MakeIT/NSW/2016-years-of-employment.csv")

In [263]:
experience = [5,4,3,2,1]

In [264]:
experience_draw = choice(experience,50000,p =[0.2863,0.0916,0.1573,0.1648,0.3])

In [265]:
teachers = teachers[["Teacher_ID", "Genders", "Subject","Type_preference","Experience_level"]]

In [266]:
teachers

      Teacher_ID Genders         Subject Type_preference  Experience_level
0             T1       F         Writing  Primary School                 4
1             T2       F       Data Team  Primary School                 5
2             T3       M      Technology  Primary School                 4
3             T4       F  Social Studies  Primary School                 5
4             T5       F      Technology  Primary School                 1
...          ...     ...             ...             ...               ...
49995     T49996       F             ILT  Primary School                 1
49996     T49997       M    Student Life  Primary School                 3
49997     T49998       F           Sp Ed  Primary School                 2
49998     T49999       F           Sp Ed  Primary School                 1
49999     T50000       M    Student Life  Primary School                 2

[50000 rows x 5 columns]

In [ ]:
#numeric version

In [267]:
draw = choice(list_of_candidates, number_of_items_to_pick,
              p=probability_distribution)

NameError: name 'list_of_candidates' is not defined

In [209]:
0.2863+0.0916+0.1573+0.16480.3001)

1.0001

In [237]:
gender_numeric = {"M": 0, "F": 1}

In [268]:
teachers["Genders"] = teachers["Genders"].map(gender_numeric)

NameError: name 'teachers_numeric' is not defined

In [243]:
subject_numeric = {"Reading":1,"Math":2,"Science":3,"Social Studies":4,"Student Life":5,"Writing":6,"Sp Ed":7,"Technology":8,"Data Team":9,"ILT":10}

In [244]:
teachers["Subject"] = teachers["Subject"].map(subject_numeric)

In [248]:
teachers

      Teacher_ID  Genders  Subject  Type_preference  Experience_level
0             T1        1        2                0                 4
1             T2        1        8                0                 5
2             T3        0        9                0                 2
3             T4        0        4                0                 1
4             T5        1        8                1                 3
...          ...      ...      ...              ...               ...
49995     T49996        1        9                0                 3
49996     T49997        1        9                1                 3
49997     T49998        1        2                0                 1
49998     T49999        1        5                0                 2
49999     T50000        1        8                1                 5

[50000 rows x 5 columns]

In [246]:
type_numeric = {"Primary School":0,"Secondary School":1}

In [247]:
teachers["Type_preference"] = teachers["Type_preference"].map(type_numeric)